<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">

	<!-- wp:heading {"fontSize":"large"} -->
	<h2 class="has-large-font-size">Page not found</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph --><p>Sorry, but the page you were looking for can not be found.  Please use the menu or Search to find what you were looking for.</p><!-- /wp:paragraph -->

	<!-- wp:spacer {"height":40} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","layout":{"inherit":true}} /-->
