<!-- wp:template-part {"slug":"header","theme":"u3a-siteworks-theme","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:heading {"fontSize":"large"} -->
	<h2 class="wp-block-heading has-large-font-size">Search Results</h2>
	<!-- /wp:heading -->
	
	<!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-query alignfull"><!-- wp:post-template -->
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:post-featured-image {"width":"100px","height":"100px"} /-->
	
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"margin":{"bottom":"0"}}},"fontSize":"medium"} /-->
	
	<!-- wp:post-excerpt {"moreText":"Read more","showMoreOnNewLine":false,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|60"}}}} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	<!-- /wp:post-template -->
	
	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<!-- wp:query-pagination-previous {"label":"Previous"} /-->
	
	<!-- wp:query-pagination-next {"label":"Next"} /-->
	<!-- /wp:query-pagination -->
	
	<!-- wp:query-no-results -->
	<!-- wp:paragraph -->
	<p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
	<!-- /wp:paragraph -->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"u3a-siteworks-theme","tagName":"footer","align":"full"} /-->