<!-- wp:template-part {"slug":"header","theme":"u3a-siteworks-theme","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:post-title {"align":"wide","fontSize":"large"} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"u3a-siteworks-theme","tagName":"footer","align":"full"} /-->