<!-- wp:template-part {"slug":"header","theme":"u3a-siteworks-theme","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:post-title {"align":"wide","fontSize":"large"} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
	<!-- wp:spacer {"height":"10px"} -->
		<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","theme":"u3a-siteworks-theme","tagName":"footer","align":"full"} /-->